@font-face {
  font-family: "Monument Extended";
  src: url("../fonts/MonumentExtended-Regular.woff2");
}

@font-face {
  font-family: "Satoshi-bold";
  src: url("../fonts/Satoshi-Bold.woff2");
  font-style: normal;
  font-weight: bolder;
}

@font-face {
  font-family: "Satoshi-Medium";
  src: url("../fonts/Satoshi-Medium.woff2");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Satoshi-Regular";
  src: url("../fonts//Satoshi-Regular.woff2");
  font-style: normal;
  font-weight: normal;
}

:root {
  --heading-font: "Monument Extended";
  --satoshi-bold: "Satoshi-bold";
  --satoshi-medium: "Satoshi-Medium";
  --satoshi-normal: "Satoshi-Regular"
}

* {
  margin: 0;
  padding: 0;
}
