.divider h3 {
  width: 700px;
  color: var(--White, #fff);
  font-family: var(--heading-font);
  font-size: 68px;
  font-weight: 400;
  line-height: 110%; /* 74.8px */
  text-transform: uppercase;
}
.divider h5 {
  width: 700px;
  font-family: var(--satoshi-bold);
  font-size: 22px;
  font-weight: 700;
  line-height: 130%; /* 28.6px */
  background: var(--Linear, linear-gradient(90deg, #3d8bff 0%, #ab23ff 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 50px 0;
}
.divider .contents {
  margin: 50px 0;
  padding-left: 10px;
  color: var(--White, #fff);
  font-family: var(--satoshi-normal);
  font-size: 16px;
  font-weight: 400;
  line-height: 130%; /* 20.8px */
  width: 472px;
}
.divider .contents div {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.divider .contents div p {
  width: 199px;
}

.divider button {
  display: flex;
  width: 453px;
  height: 54px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
  border-radius: 6px;
  background: var(--Linear, linear-gradient(90deg, #3d8bff 0%, #ab23ff 100%));
  border: none;
  margin-top: 50px;
  color: var(--White, #fff);
  text-align: center;
  font-family: var(--satoshi-bold);
  font-size: 18px;
  font-weight: 700;
  line-height: 110%; /* 19.8px */
}

@media screen and (max-width: 500px) {
  .divider .contents, .divider button {
    width: 100%;
  }
  .divider .contents div p {
    width: 133px;
  }
}
