.shared__hero {
  padding: 30px 50px;
  min-height: 970px;
  background-image: url("../../../assets/main-bg.svg");
  mix-blend-mode: soft-light;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.shared__hero .contents {
  width: 1440px;
  min-height: 313px;
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  margin: auto;
}
.shared__hero .contents h1 {
  width: 100%;
  color: var(--White, #fff);
  font-family: var(--heading-font);
  font-size: 68px;
  font-weight: 400;
  line-height: 110%;
  text-transform: uppercase;
  /* min-height: 225px; */
}
.shared__hero .contents h5 {
  font-family: var(--satoshi-bold);
  font-size: 22px;
  font-weight: 700;
  line-height: 130%; /* 28.6px */
  background: var(--Linear, linear-gradient(90deg, #3d8bff 0%, #ab23ff 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 7px 0px 12px 0px;
  border-top: 1px solid var(--Linear, #3d8bff);
  border-bottom: 1px solid var(--Linear, #3d8bff);
  width: 670px;
  margin-top: 50px;
}

@media screen and (max-width: 1450px) {
  .shared__hero {
    padding: 30px 20px;
  }
  .shared__hero .contents {
    width: 95%;
    padding: 20px 0 20px;
    left: 20px;
    right: 0;
    /* position: relative; */
  }
  .shared__hero .contents h1 {
    font-size: 44px;
    width: 100%;
  }
  /* .shared__hero .contents h1,
  .shared__hero .contents h5 {
    position: relative;
    left: 20px;
  } */
}

@media screen and (max-width: 700px) {
  .shared__hero .contents h5 {
    width: 100%;
    font-size: 18px;
  }
  .shared__hero .contents h1 {
    font-size: 32px;
  }
}